/* variables */
:root {
  --space-max-abs: 20px;
  --space-min-abs: 10px;
  --space-button: 8px;
  --height-fixed: 15vh;
  --height-footer: 6vh;
  --typo-sm: 16px;
  --typo-md: 20px;
  --typo-xl: 28px;
  --typo-xxl: 32px;
  --primary-color: whitesmoke;
  --secondary-color: antiquewhite;
  --button-color: white;
  --landing-color: #f5f0f1;
  --aside-background: #360940;
  --landing-background: #361140;
  --feature-background: rgb(57, 57, 117);
  --button-background: rgb(161, 158, 184);
  --footer-background: rgb(95, 62, 96);
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: var(--primary-color);
  /* Reserva espacio para el header fijo (aunque también podría hacerse con un margin-top en main): */
  padding-top: var(--height-fixed);
  font-size: 16px; /* tamaño base de fuente */
}

/* header fijado en la parte superior y mediante un color de fondo hacer que los elementos durante el scroll pasen "por detrás" */

header {
  font-size: var(--typo-xxl);
  /* text-align: center; */
  padding: 0.5vh;
  /* ----- position ----- */
  position: fixed; /* Fija el header en la parte superior de la ventana y también permite posicionar elementos hijos */
  top: 0; /* Empieza en la parte superior de la ventana */
  left: 0; /* Se alinea al borde izquierdo */
  width: 100%; /* Ocupa el ancho completo de la ventana */
  height: var(
    --height-fixed
  ); /* Altura relativa al tamaño de la ventana (10%) */
  /* background: linear-gradient(to right, #4a4a4a, #818181); */
  background-image: url('./assets/wallpaper/3px-tile.png');
  background-color: var(--landing-background);

  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

header > h1 {
  color: var(--landing-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 15px plum;
}

header > img {
  position: absolute; /* posición respecto al header*/
  padding: 0.5vh;
  height: var(--height-fixed);
  width: 150px;
  top: 0px;
  right: 0px;
  filter: drop-shadow(5px 10px 30px white);
}

/* main {
  margin-top: calc(var(--height-fixed) + var(--space-max-abs));
} */

/* La etiqueta sidebar debe de estar colocada a la derecha del contenido justo debajo de header. */
main {
  position: relative; /* para posicionar el sidebar */
  width: 100%;
}

.sidebar {
  padding: var(--space-max-abs);
  width: 15%; /* Ancho del sidebar sera un 10% del ancho del main */
  height: calc(
    100vh - var(--height-footer) - var(--height-fixed) - var(--space-max-abs)
  ); /* Ocupa el resto de la ventana debajo del header pero sin llegar al footer */

  /* position */
  position: absolute; /* Se posiciona respecto al 'main' */
  top: var(--space-max-abs); /* para alinearlo con el contenido del main */
  right: 0;
  overflow-y: auto; /*Permite desplazamiento vertical si el contenido es mayor*/

  background-color: var(--aside-background);
  background-image: url(http://www.transparenttextures.com/patterns/bedge-grunge.png);
  color: var(--primary-color);
  z-index: 900;
}

.sidebar > ul {
  list-style-type: none;
  margin: var(--space-min-abs);
}

.content {
  margin-top: var(--space-max-abs);
  margin-right: 15%; /*  Espacio entre el contenido y el sidebar (para que no se solape el contenido de la sección con el sidebar */
  padding: var(--space-max-abs);
}

.content p,
h2 {
  margin-bottom: var(--space-min-abs);
}

button {
  padding: var(--space-button);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--typo-sm);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  /* cualquier cambio en las propiedades CSS animables del botón (como el color de fondo, tamaño, o bordes) se animará suavemente durante 0.3 segundos. */
  transition: all 0.3s ease-in-out;
}
/* NOTA: 
- en transition establecemos cómo debe ocurrir la animación cuando cualquier propiedad animable cambie, Es decir, establece la animación (la duración, la velocidad y la función de tiempo). No crea la animación por sí misma, sino que controla cómo debe realizarse la transición entre los valores de las propiedades de CSS.

-Con transform aplicamos un efecto. Al combinarlo con transition logramos que la transformación sea animada*/

button:hover {
  background-color: plum;
  color: black;
  transform: scale(1.1); /* Amplía el botón ligeramente al pasar el ratón */
}

/* tamaño de fuente para elementos */
h2 {
  font-size: var(--typo-xl);
  text-shadow: 10px 8px 8px plum;
  letter-spacing: 1.5px;
}

p,
li {
  font-size: var(--typo-sm);
}

/* Sección características */
.features {
  border-top: 4px double var(--footer-background);
  text-align: center;
  padding: var(--space-max-abs);
  margin-bottom: var(--space-max-abs); /* separación del footer*/
  margin-top: var(--space-max-abs);
}

.features h2 {
  /* para que el h2 no este tan pegado al span tras aplicarle padding (relleno) */
  margin-bottom: var(--space-max-abs);
}

/* estilo que tendrá cada característica */
.feature {
  /* para que las características no estén tan pegadas (o se solapen) al span tras aplicarle padding (relleno).. entonces evitamos el solapamiento con 10px, pero para separarlos ponemos 10px mas */
  margin-bottom: var(--space-max-abs);
  /* como el contenido es mayor que el tamaño del contenedor, agregamos padding para "empujar" o mover el contenido hacia dentro y evitar solapamiento */
  padding: var(--space-max-abs);
  background-color: var(--feature-background);
  border-radius: var(--space-min-abs);
}

.feature img {
  border: 2px solid plum;
  padding: var(--space-min-abs);
  background-color: var(--aside-background);
  border-radius: 80px;
  width: 10%;
}

/* lo iconos se tratan como texto, por lo que podemos aumentar su tamaño a traves de la misma propiedad */
.feature span {
  font-size: var(--typo-xl);
  padding: var(--space-min-abs);
  background-color: rgb(174, 213, 174);
  border: 2px solid plum;
  border-radius: 80px;
}

.feature p {
  margin-top: var(--space-min-abs);
  margin-bottom: var(--space-min-abs);
}

/* La etiqueta footer debe de estar "pegada" al fondo de la aplicación. */
footer {
  border: 2px solid plum;
  border-radius: var(--space-min-abs);
  background-color: var(--landing-background);
  color: var(--landing-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

  width: 100%;
  height: var(
    --height-footer
  ); /* Altura relativa al tamaño de la ventana (6%) */
  position: fixed;
  bottom: 0; /* Se alinea al borde inferior */
  left: 0; /* Se alinea al borde izquierdo */

  padding: var(--space-min-abs);
  z-index: 1000; /* para que esté por encima de elementos flotantes */
}
