/* variables */
:root {
  --space-max-abs: 20px;
  --space-min-abs: 10px;
  --space-button: 8px;
  --height-fixed: 10vh;
  --height-footer: 6vh;
  --typo-sm: 16px;
  --typo-md: 20px;
  --typo-xl: 24px;
  --typo-xxl: 32px;
  --primary-color: #9ad79b;
  --landing-color: #000000;
  --landing-background: #4f785b;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: var(--primary-color);
  /* Reserva espacio para el header fijo (aunque también podría hacerse con un margin-top en main): */
  padding-top: var(--height-fixed);
  font-size: 16px; /* tamaño base de fuente */
}

/* header fijado en la parte superior y mediante un color de fondo hacer que los elementos durante el scroll pasen "por detrás" */

header {
  border: 2px dotted var(--primary-color);
  font-size: var(--typo-xl);
  text-align: center;
  padding: 0.5vh;
  position: fixed; /* Fija el header en la parte superior de la ventana */
  top: 0; /* Empieza en la parte superior de la ventana */
  left: 0; /* Se alinea al borde izquierdo */
  width: 100%; /* Ocupa el ancho completo de la ventana */
  height: var(
    --height-fixed
  ); /* Altura relativa al tamaño de la ventana (10%) */
  background-color: var(--landing-background);
  color: var(--landing-color);
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

/* main {
  margin-top: calc(var(--height-fixed) + var(--space-max-abs));
} */

/* La etiqueta sidebar debe de estar colocada a la derecha del contenido justo debajo de header. */
main {
  border: 2px dotted red;
  position: relative; /* para posicionar el sidebar */
  width: 100%;
}

.sidebar {
  border: 2px dotted var(--primary-color);
  padding: var(--space-max-abs);
  width: 15%; /* Ancho del sidebar sera un 10% del ancho del main */
  height: calc(
    100vh - var(--height-footer) - var(--height-fixed) - var(--space-max-abs)
  ); /* Ocupa el resto de la ventana debajo del header pero sin llegar al footer */

  position: absolute; /* Se posiciona respecto al 'main' */
  top: var(--space-max-abs); /* para alinearlo con el contenido del main */
  right: 0;
  background-color: var(--landing-background);
  overflow-y: auto; /*Permite desplazamiento vertical si el contenido es mayor*/

  color: var(--landing-color);
  z-index: 900;
}

.content {
  border: 2px dotted blue;
  margin-top: var(--space-max-abs);
  margin-right: 15%; /*  Espacio entre el contenido y el sidebar (para que no se solape el contenido de la sección con el sidebar */
  padding: var(--space-max-abs);
}

.content p,
h2 {
  margin-bottom: var(--space-min-abs);
}

.content button {
  padding: var(--space-button);
  background-color: #9ad79b;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  /* cualquier cambio en las propiedades CSS animables del botón (como el color de fondo, tamaño, o bordes) se animará suavemente durante 0.3 segundos. */
  transition: all 0.3s ease-in-out;
}
/* NOTA: 
- en transition establecemos cómo debe ocurrir la animación cuando cualquier propiedad animable cambie, Es decir, establece la animación (la duración, la velocidad y la función de tiempo). No crea la animación por sí misma, sino que controla cómo debe realizarse la transición entre los valores de las propiedades de CSS.

-Con transform aplicamos un efecto. Al combinarlo con transition logramos que la transformación sea animada*/

.content button:hover {
  background-color: plum;
  transform: scale(1.1); /* Amplía el botón ligeramente al pasar el ratón */
}

/* tamaño de fuente para elementos */
h2 {
  font-size: var(--typo-md);
}

p,
li {
  font-size: var(--typo-sm);
}

/* Sección características */
.features {
  text-align: center;
  padding: var(--space-max-abs);
  margin-bottom: var(--space-max-abs); /* separación del footer*/
}

.features h2 {
  /* para que el h2 no este tan pegado al span tras aplicarle padding (relleno) */
  margin-bottom: var(--space-max-abs);
}

/* estilo que tendrá cada característica */
.feature {
  /* para que las características no estén tan pegadas (o se solapen) al span tras aplicarle padding (relleno).. entonces evitamos el solapamiento con 10px, pero para separarlos ponemos 10px mas */
  margin-bottom: var(--space-max-abs);
  /* como el contenido es mayor que el tamaño del contenedor, agregamos padding para "empujar" o mover el contenido hacia dentro y evitar solapamiento */
  padding: var(--space-max-abs);
  background-color: #2c3e50;
  border-radius: var(--space-min-abs);
}

/* lo iconos se tratan como texto, por lo que podemos aumentar su tamaño a traves de la misma propiedad */
.feature span {
  font-size: var(--typo-xl);
  padding: var(--space-min-abs);
  background-color: rgb(174, 213, 174);
  border: 2px solid plum;
  border-radius: 80px;
}

.feature p {
  margin-top: var(--space-max-abs);
  margin-bottom: var(--space-min-abs);
}

/* estilos para todos los botones dentro de features */
.features button {
  padding: var(--space-button);
  background-color: #9ad79b;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.feature button:hover {
  background-color: plum;
  transform: scale(1.1); /* Amplía el botón ligeramente al pasar el ratón */
}

/* La etiqueta footer debe de estar "pegada" al fondo de la aplicación. */
footer {
  border: 2px solid plum;
  border-radius: var(--space-min-abs);
  background-color: green;
  color: var(--landing-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

  width: 100%;
  height: var(
    --height-footer
  ); /* Altura relativa al tamaño de la ventana (6%) */
  position: fixed;
  bottom: 0; /* Se alinea al borde inferior */
  left: 0; /* Se alinea al borde izquierdo */

  padding: var(--space-min-abs);
  z-index: 1000; /* para que esté por encima de elementos flotantes */
}
